# Don’t commit the following items created by pub.
.buildlog
.dart_tool/
build/
packages
.packages

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

# Do not include intellij stuff
.idea
